{% block mmmedia_upload_collection_widget %}
    {% spaceless %}
        {% block file_upload %}
            <label id="dz_{{ id }}_label">
                <div id="dz_{{ id }}_FormUploader" class="dropzone mmmb-dropzone"
                     data-url="{{ path('media_upload') }}"
                     data-field-name="{{ full_name }}{% if multiple %}[]{% endif %}"
                ></div>
            </label>
        {% endblock %}
    {% endspaceless %}
{% endblock %}